<!DOCTYPE html>
<html lang="en">
<head>
    {{> HtmlHead }}
</head>
<body class="antialiased font-OpenSans">
{{>Header }}
<div class="relative">
{{>pageTitle pageTitle="Project Detail"}}
    <div class="bg-white">
    <div class="max-w-7xl mx-auto px-8">
        <div class="grid grid-cols-1 lg:grid-cols-7 py-16">
            <div class="col-span-1 lg:col-span-3">
                <div class="py-12 px-4">
                    <div class="flex">
                        <h2 class="font-bold  text-4xl capitalize">hyatt</h2>
                        <img src="../../assets/images/bpLogo.jpg" class="inline"/>
                    </div>
                    <div class="">
                        <p class="my-3 text-gray1 capitalize">october 2019</p>
                        <p class="leading-9 text-sm my-3 text-gray1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur cumque deleniti est explicabo labore libero magnam molestias nemo nisi nobis, officiis perferendis quisquam quo ratione recusandae, repellat sit. Et magni minima mollitia omnis praesentium, ratione sint voluptate. Animi cumque dolorum in optio recusandae repellat repellendus saepe voluptatibus. Officia, possimus?</p>
                    </div>
                </div>
            </div>
            <div class="col-span-1 lg:col-span-4">
                <div class="py-12 px-12 bg-primary">
                    <h3 class="font-semibold text-base uppercase mb-3">hyatt testimonial</h3>
                    <h1 class="font-bold text-4xl capitalize">how we performed</h1>
                    <p class="mt-3 leading-9 text-sm font-medium">Cssl did an amazing job!. They provided great customer service, knowlegeable advice throughput the project and met all our project deadlines</p>
                    <h3 class="font-semibold uppercase text-sm tracking-widest mt-5">candice ali</h3>
                    <p class="text-sm">managing director</p>
                </div>
            </div>
        </div>
        <div class="w-full h-full pb-16">
            <div class="flex mx-auto">
                <ul class="list-none w-full h-full box-border imageList">
                    <li><a href="#img_1"><img src="../../assets/images/image1.jpg"></a></li>
                    <li><a href="#img_2"><img src="../../assets/images/image2.jpg"></a></li>
                    <li><a href="#img_3"><img src="../../assets/images/image3.jpg"></a></li>
                    <li><a href="#img_4"><img src="../../assets/images/image3.jpg"></a></li>
                    <li><a href="#img_5"><img src="../../assets/images/image3.jpg"></a></li>
                    <li><a href="#img_6"><img src="../../assets/images/image3.jpg"></a></li>
                    <li><a href="#img_7"><img src="../../assets/images/image4.jpg"></a></li>
                    <li><a href="#img_8"><img src="../../assets/images/image5.jpg"></a></li>
                </ul>
                <a href="#_1" class="lightbox trans" id="img_1"><img src="../../assets/images/image1.jpg" class="mx-auto"></a>
                <a href="#_2" class="lightbox trans" id="img_2"><img src="../../assets/images/image2.jpg" class="mx-auto"></a>
                <a href="#_3" class="lightbox trans" id="img_3"><img src="../../assets/images/image3.jpg" class="mx-auto"></a>
                <a href="#_4" class="lightbox trans" id="img_4"><img src="../../assets/images/image3.jpg" class="mx-auto"></a>
                <a href="#_5" class="lightbox trans" id="img_5"><img src="../../assets/images/image3.jpg" class="mx-auto"></a>
                <a href="#_6" class="lightbox trans" id="img_6"><img src="../../assets/images/image3.jpg" class="mx-auto"></a>
                <a href="#_7" class="lightbox trans" id="img_7"><img src="../../assets/images/image4.jpg" class="mx-auto"></a>
                <a href="#_8" class="lightbox trans" id="img_8"><img src="../../assets/images/image5.jpg" class="mx-auto"></a>
            </div>
        </div>
        
    </div>
    </div>
</div>

{{> Footer }}

</body>
</html>

